/* Add your styles here */
.wrap{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
.box{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 10px;
}
.sea{
    background: blue;
}
.healthy{
    background: green;
}
.ill{
    background: red;
}
.statistics{
    display: flex;
    flex-direction: column;
}